



body {
	background-color: pink;
	font-family: courier New;

}
h3{
font-size: : 50 px;
text-decoration: line-through;
}
p{
	background-color: orange;
	padding: 10vh;
	border:solid black;
}


a{ font-size: :36px;
text-decoration: none;
 }

 a:visited{

 	color: green;
 }


 