body {
  background-image: url("3.jpg");
  /* font-family: Courier New; */
  font-family: 'Nunito', sans-serif;
background-size: 100%, auto;

}

h3 {
	text-align: center;
	font-family: 'Bad Script', cursive;
	color: rgb(255,230,255);
	font-size: 30px;
	background-color: rgba(0,0,0,80%);
}
main{
	font-family: 'Nunito', sans-serif;
	background-color: rgba(255,230,255,70%);
	 padding: 50px;


}
a:link{

font-family: 'Bad Script', cursive;

font-size: 20px;

text-align: center;

color: rgb(255,255,255);


}


a:visited{

color: rgb(255,255,255);
}

a:hover {

color: rgb(255,84,115);
  font-size: 30px;
}

a:active {
  color: rgb(255,255,255);
} 

ul{
	display: inline-block;
	font-family: 'Georgia', serif;
padding-left: 250px;
list-style-position: inside;
font-size: x-large;


}

img {
  float: left;
}

div{
background-color: rgba(255,255,255,80%);

	 }

.Me{

	 text-indent: 300px;
}

.next{right: 25vw;
	top: 7vh;
position: absolute;}

.back{
right: 75vw;
	top: 7vh;
position: absolute;

}
.home{right: 50vw;
	top: 7vh;
position: absolute;}

#map{
	 width: 12vw;
	 height: 19vh;
	display: inline-block;
  margin-left: 15vw;
  margin-right: 0vw;
    overflow: auto;
 
}
#map1{
	 width: 71%;
	display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}
#map2{
	 width: 45%;
	 height: 60vh;
	display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
    overflow: auto;
 
}

#map3{
	 width: 45%;
	 height: 60vh;
	display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
    overflow: auto;
 
}

#map4{
	 width: 36%;
	display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}
#map5{
	 width: 36%;
	display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}
#map6{
	 width: 36%;
	display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}
