body {
  background-image: url("https://desk-fd.zol-img.com.cn/t_s960x600c5/g5/M00/02/02/ChMkJ1bKxWuICx6yAAndJjPxf_cAALHVgMnhtYACd0-223.jpg");
  /* font-family: Courier New; */
  font-family: 'Nunito', sans-serif;
background-size: 100%, auto;

}

h3 {
	text-align: center;
	font-family: 'Bad Script', cursive;
	color: black;
	font-size: 30px;
	background-color: rgba(255,216,84,70%);
}
main{
font-family: 'Nunito', sans-serif;
	background-color: rgba(255,230,255,70%);
	 padding: 50px;


}


button{
font-family: 'Nunito', sans-serif;
	border-radius: 15px;
	padding: 1vh 1vw;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkrceZ1rbyDt57xBe-V5HMBRV6owVg0wm3O3bZx6Rr2MTkEqkU);
  font-weight: bold;
}

td{
	font-family: 'Open Sans', ;
border-radius: 15px;
	padding: 2vh 13vw;
	 text-align: center;
	 border-spacing: 2vh;
	   font-weight: 5px;
}
img{

width: 12vh;
height: 9vh;
display: inline-block;
  margin-left: 0vw;
  margin-right: 0vw;
    overflow: auto;

}