body {
  background-color: lightblue;
}
p {
  background-color: lightyellow;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

figcaption {
  background-color: FloralWhite;

}
