body {
  background-color: lightblue;
}

h1 {
  background-color: red;
}
p {
  background-color: lightyellow;
}

img {
  border: solid 2px;
}
figure {
  background-color: lightgreen;
}

figcaption {
  background-color: lightpink;

}