body {
  background-color: lightblue;
}
p {
  background-color: lightyellow;
}

img {
  border: solid 2px;
}
figure {
  background-color: GreenYellow;
   
}

figcaption {
  background-color: lightpink;

}
