.next{right: 25vw;
	top: 2vh;
position: absolute;
background-color: white;}

.back{
right: 75vw;
	top: 2vh;
position: absolute;
background-color: white;
}
.home{right: 50vw;
	top: 2vh;
position: absolute;
background-color: white;

}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-size: 100%, auto;


}
.one {
  grid-column: 1/4;
  grid-row: 1/3;
 


}
.wrapper > div{
font-size: 20px;
color:rgb(255,255,255);

border-radius: 10px;


}

.two { 
  grid-column: 3 / 4;
  grid-row: 3/ 3;
  background-image: url("1.png");

}
.three {
  grid-column: 1/1;
  grid-row: 3 / 3;



}
.four{
grid-column: 1/4;
grid-row:5/5;


}

#spec{
border: 2px  dashed pink;
padding: 2vw

}
#spec1{

border: 2px  solid black;
padding: 2vw

}

#spec2{
color:black;
background-color: white;
border: 2px  solid black;
padding: 2vw

}


body {
  background-image: url("3.jpg");
  /* font-family: Courier New; */
  font-family: 'Nunito', sans-serif;
background-size: 100%, auto;

}
.button{

background-color: white;

}
body {
  background-image: url("3.jpg");
  /* font-family: Courier New; */
  font-family: 'Nunito', sans-serif;
background-size: 100%, auto;

}

h3 {
  text-align: center;
  font-family: 'Bad Script', cursive;
  color: rgb(255,230,255);
  font-size: 30px;
  background-color: rgba(0,0,0,80%);
}
main{
  font-family: 'Nunito', sans-serif;
  background-color: rgba(255,230,255,70%);
   padding: 50px;


}
a:link{

font-family: 'Bad Script', cursive;

font-size: 20px;

text-align: center;

color: rgb(0,0,0);


}


a:visited{

color: rgb(0,0,0);
}

a:hover {

color: rgb(255,84,115);
  font-size: 30px;
}

a:active {
  color: rgb(0,0,0);
} 

ul{
  display: inline-block;
  font-family: 'Georgia', serif;
padding-left: 250px;
list-style-position: inside;
font-size: x-large;


}

img {
  float: left;
}

div{
background-color: rgba(255,255,255,80%);

   }


#map{
   width: 12vw;
   height: 19vh;
  display: inline-block;
  margin-left: 15vw;
  margin-right: 0vw;
    overflow: auto;
 
}
#map1{
   width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}
#map2{
   width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
    overflow: auto;
 
}

